.login-section {
    background-color: transparent;
    background: url(./images/mock2.jpg)no-repeat top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 5% 2% 5%;
    position: relative;
    text-align: left;

    img {
        position: absolute;
        width: auto;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }

    h3 {
        position: absolute;
        color: #fff;
        font-size: 80px;
        top: 180px;
        left: 120px;
        font-weight: bold;
    }

    p {
        position: absolute;
        color: #fff;
        font-size: 26px;
        bottom: 150px;
        left: 130px;
        line-height: 150%;
    }
}

.login-form{
    form {
        background: #fff;
        border-radius: 0px;
        padding: 60px 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 17%;
        right: 11%;

        input {
            border: none;
            border-bottom: 1px solid #ccc;
            background: transparent;
            border-radius: 5px;
            margin-bottom: 8%;
            height: 35px;
        }

        button {
            border-radius: 10px;
            padding: 10px 25px;
            display: inline-block;
            background: #ff7900;
            border: none;
            color: #fff;
            margin-top: 13%;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s ease-out;
        }
        button:hover{
            background: #ff9625;
        }
    }
}




@media(min-width:768px) {
    


    .login-form form {
        background: #fff;
        border-radius: 0px;
        padding: 60px 40px;
        position: absolute;
        display: flex;
        width: 500px;
        /* height: 400px; */
        flex-direction: column;
        /* right: 160px; */
        /* top: 110px; */
    }
}



@media(min-width:767px) {

    .mock{
        display: none;
    }
}










@media(max-width:768px) {
    .mock{
        display: none;
    }
    
}