@media(min-width:768px) {}

@media(max-width:767px) {}

    .contact-container {
        padding: 0% 5%;
    }
    .contact-info{
        margin-top: 40px;
        ul {
            list-style: none;
            color: #fff;
            line-height: 30px;
            font-size: 18px;

            li {
                margin-bottom: 12%;
            }
        }
    }
    .contact-form {
        background: #fff;
        color: #333;
        font-size: 16px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        h3{
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
        }
        form{
            display: flex;
            flex-direction: column;
        }
        input,textarea{
            border: none;
            margin-bottom: 10px;
            padding: 10px;
            border-bottom: 2px solid #ddd;
            border-radius: 5px;
        }
        textarea{
            height: 100px;
        }
        button{
            border: none;
            padding: 10px;
            cursor: pointer;
            background: #00bcd4;
            color: #fff;
            border-radius: 5px;
            transition: 0.3s;
            display: inline-block;
            margin-top: 20px;
            transition: 0.3s ease-out;
        }
        button:hover{
            background: #008c9e;
        }
    }


